.banner-main{
    position: relative;

    .banner-main__information{    
        display: flex;
        gap: 10px;
        bottom: 10%;
        left: 10%;
        position: absolute;

        @include device(mobile){
            display: none;
        }

        .banner-main__item{
            color: #fff;
            padding: 0 20px;

            &.center{
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
            }

            .item-title{
                margin-bottom: 10px;
                font-size: 20px;
                letter-spacing: 1.5px;
            }

            .item-info{
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
}