.footer{
    margin-top: 55px;

    .copyright{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #000000;

        p{
            text-align: center;
            color: #ffffff;
        }
    }
    
    .container{
        max-width: 1320px;
        margin: auto;
    }

}