.who-iam {
    background: #101010;
    color: #fff;
    padding: 5% 0;
    margin-top: -2px;

    img{
        width: auto;
    }   

    .who-iam__title{
        color: #009e66;
        font-size: 24px;
        font-weight: 600;
    }

    .who-iam__subtitle{
        color: #FFFFFF;
        font-size: 31px;
        font-weight: 700;
        line-height: 1.6em;
    }

    .who-iam__container{
        width: 80%;
        margin: auto;
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    
    .who-iam__infos{
        width: 45%;
    }

    .who-iam__itens{
        display: flex;
        flex-wrap: wrap;
    }

    .who-iam__item{
        width: 50%;
        margin-top: 20px;
        
    }
    .download-curriculum{
        background: #009e66;
        color: #ffffff;
        padding: 10px 35px;
        display: inline-block;
        text-align: center;
        margin-top: 25px;
    }
    .who-iam__text{
        color: #9F9F9F;
        font-weight: 400;
        line-height: 35px;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #9F9F9F;
    }
}