@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600;700&display=swap");
* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #101010;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

abbr[title] {
  border: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after,
input[type=search] {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed;
  min-height: 90px;
  z-index: 10;
  background-color: transparent;
  transition: ease-in-out 0.2s;
}
.header.menu-background {
  background-color: rgba(0, 0, 0, 0.7215686275);
  transition: ease-in-out 0.5s;
  min-height: 85px;
}
.header.menu-background .header-container {
  min-height: 80px;
  transition: ease-in-out 0.5s;
}
.header .header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  min-height: 90px;
}
.header .header-container .header-navigation__item {
  float: left;
  margin: 0 10px;
}
.header .header-container .header-navigation__item .header-item__link {
  color: #fff;
  position: relative;
}
.header .header-container .header-navigation__item .header-item__link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: ease-in-out 0.2s;
}
.header .header-container .header-navigation__item .header-item__link:hover:before {
  width: 100%;
}
.header .header-container .header-logo {
  width: 150px;
}

.banner-main {
  position: relative;
}
.banner-main .banner-main__information {
  display: flex;
  gap: 10px;
  bottom: 10%;
  left: 10%;
  position: absolute;
}
.banner-main .banner-main__information .banner-main__item {
  color: #fff;
  padding: 0 20px;
}
.banner-main .banner-main__information .banner-main__item.center {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.banner-main .banner-main__information .banner-main__item .item-title {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.banner-main .banner-main__information .banner-main__item .item-info {
  font-size: 20px;
  font-weight: 100;
}

.who-iam {
  background: #101010;
  color: #fff;
  padding: 5% 0;
  margin-top: -2px;
}
.who-iam img {
  width: auto;
}
.who-iam .who-iam__title {
  color: #098AAB;
  font-size: 24px;
  font-weight: 600;
}
.who-iam .who-iam__subtitle {
  color: #FFFFFF;
  font-size: 31px;
  font-weight: 700;
  line-height: 1.6em;
}
.who-iam .who-iam__container {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.who-iam .who-iam__infos {
  width: 45%;
}
.who-iam .who-iam__itens {
  display: flex;
  flex-wrap: wrap;
}
.who-iam .who-iam__item {
  width: 50%;
  margin-top: 20px;
}
.who-iam .download-curriculum {
  background: #098AAB;
  color: #ffffff;
  padding: 10px 35px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}
.who-iam .who-iam__text {
  color: #9F9F9F;
  font-weight: 400;
  line-height: 35px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #9F9F9F;
}

.my-services {
  width: 70%;
  margin: auto;
}
.my-services .title-bg {
  position: absolute;
  left: -6px;
  color: transparent;
  font-size: 110px;
  font-weight: 900;
  opacity: 0.2;
  line-height: 1;
  max-width: 100%;
  white-space: nowrap;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-user-select: none;
  bottom: -30px;
  z-index: -1;
  text-transform: uppercase;
  font-family: sans-serif;
}
.my-services .section-title {
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 9;
  color: #ffffff;
}
.my-services .services-section {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 55px;
}
.my-services .services-section .services-section__item {
  width: 33%;
  padding: 0 10px;
}
.my-services .services-section .single-service {
  background-color: #161616;
  border-bottom: 2px solid transparent;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 38px 42px;
  transition: all 0.15s ease-in-out;
}
.my-services .services-section .single-service:hover {
  border-bottom-color: #098AAB;
}
.my-services .services-section .single-service .service-icon {
  width: 58px;
  height: 58px;
  background-size: 58px;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 22px;
}
.my-services .services-section .single-service .service-icon.artist {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='58' height='58' x='0' y='0' viewBox='0 0 468 468' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m218.837 313.812h30.003v26.8h-30.003z' fill='%23098AAB' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='m467.264 404.972-16.855-51.145-28.493 9.408 4.739 14.379-54.825-31.244v-133.232h-.007c0-.137.007-.273.003-.411-.151-5.631-3.438-10.701-8.512-13.135l-113.883-54.63v-56.72l8.463 10.022 22.915-19.385-35.133-41.607c-5.932-7.025-16.967-7.03-22.906-.011l-35.072 41.458 22.897 19.406 8.833-10.441v56.753l-114.602 55.163c-5.126 2.454-8.5 7.831-8.5 13.515l-.156 133.241-54.835 31.249 4.739-14.378-28.493-9.408-16.858 51.144c-2.721 8.256 2.523 17.499 11.03 19.37l53.085 11.667 6.434-29.332-14.65-3.22 55.128-31.416 115.637 55.603c4.1 1.971 8.9 1.826 12.991.005l115.852-55.602 54.19 30.882-13.442 2.701 5.905 29.444 53.086-10.666c8.654-1.741 14.084-10.962 11.295-19.427zm-233.385-234.169 90.09 43.217-90.147 49.398-89.739-49.392zm14.99 219.457-.019-30.639-30.003.02.02 30.582-92.695-44.572.126-107.143 100.28 55.193c4.455 2.452 9.973 2.457 14.432.014l100.815-55.243v107.176z' fill='%23098AAB' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.my-services .services-section .single-service .service-icon.unreal {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 3000 3000' style='enable-background:new 0 0 3000 3000;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);fill:%23098AAB;%7D .st1%7Bclip-path:url(%23SVGID_4_);fill:%23098AAB;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Cpath id='SVGID_1_' d='M2066.45,1913.46c0,0,21.16,31.82,74.01,31.82c59.85,0,160.19-38.9,320.47-210.35 c0,0-170.81,390.64-522.98,600.97l-193.71-164.35l-5.27-3.54l-211.3,226.23c0,0-478.93-42.43-679.67-334.06 c0,0,31.69,12.39,65.14,12.39c40.51,1.75,84.52-14.16,84.52-81.32v-687.58c0-35.35-24.64-74.25-77.46-74.25 c-47.54,1.77-116.23,33.58-209.53,129.05c-195.45,203.27-274.68,397.69-274.68,397.69s-56.35-279.27,237.7-618.64 c294.05-339.38,515.9-463.12,753.63-526.74c0,0-188.4,111.35-188.4,277.52c0,49.49,7.03,81.31,17.61,104.27 c14.08,28.3,35.22,38.9,54.59,38.9c15.84,0,31.69-7.08,44.01-15.91v903.24c0,0,5.29,14.14,17.61,31.82 c19.37,24.73,52.83,54.8,109.18,54.8c93.31,0,214.8-107.83,214.8-107.83v-731.78c0-74.25-54.59-164.38-110.92-194.42 c0,0,119.71-7.08,177.87,38.87c0,0,197.19-238.62,559.89-311.08c0,0-193.67,231.54-255.31,346.43 c-10.58,1.77-12.32,217.41-10.58,434.84C2059.44,1688.97,2062.97,1899.32,2066.45,1913.46z'/%3E%3C/defs%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:%23098AAB;'/%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Crect x='409.56' y='589.54' class='st0' width='2070.69' height='1827.68'/%3E%3C/g%3E%3Cg%3E%3Cdefs%3E%3Cpath id='SVGID_3_' d='M2489.04,504.69c-264.1-268.67-616.26-415.37-989.54-415.37c-375.06,0-725.46,146.7-989.58,415.37 C245.8,773.36,99.66,1128.65,99.66,1506.92c0,378.27,146.13,735.32,410.26,1002.2c264.12,268.67,616.29,415.42,989.58,415.42 c373.28,0,725.44-148.5,989.54-415.42c264.15-268.67,410.32-623.93,410.32-1002.2C2899.37,1128.65,2753.19,771.59,2489.04,504.69 z M34.5,1505.15C34.5,686.75,689.53,23.93,1499.5,23.93c808.19,0,1463.24,662.82,1461.46,1481.22 c0,818.42-655.01,1481.22-1463.22,1481.22C689.53,2986.37,34.5,2323.57,34.5,1505.15z'/%3E%3C/defs%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:%23098AAB;'/%3E%3CclipPath id='SVGID_4_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Crect x='13.39' y='2.71' class='st1' width='2968.69' height='3004.85'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.my-services .services-section .single-service .service-icon.rendering {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='58' height='58' x='0' y='0' viewBox='0 0 64 64' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='_05-file' data-name='05-file'%3E%3Cpath d='M56.465,59H7.535A7.544,7.544,0,0,1,0,51.464V12.536A7.544,7.544,0,0,1,7.535,5h48.93A7.544,7.544,0,0,1,64,12.536V51.464A7.544,7.544,0,0,1,56.465,59ZM7.535,7A5.541,5.541,0,0,0,2,12.536V51.464A5.541,5.541,0,0,0,7.535,57h48.93A5.541,5.541,0,0,0,62,51.464V12.536A5.541,5.541,0,0,0,56.465,7Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Crect x='1' y='14' width='62' height='2' fill='%23098aab' data-original='%23000000' class=''%3E%3C/rect%3E%3Cpath d='M7.5,12A1.5,1.5,0,1,1,9,10.5,1.5,1.5,0,0,1,7.5,12Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M12.5,12A1.5,1.5,0,1,1,14,10.5,1.5,1.5,0,0,1,12.5,12Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M17.5,12A1.5,1.5,0,1,1,19,10.5,1.5,1.5,0,0,1,17.5,12Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M1.852,48.524l-1.7-1.048,8-13A1,1,0,0,1,9,34H19v2H9.559Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M55.852,34.476A1,1,0,0,0,55,34H45v2h9.441l7.707,12.524,1.7-1.048Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M32,33.714a1.006,1.006,0,0,1-.385-.077L18.571,28.2a1,1,0,0,1,.075-1.874l13.043-4.261a1.016,1.016,0,0,1,.622,0l13.043,4.261a1,1,0,0,1,.075,1.874L32.385,33.637A1.006,1.006,0,0,1,32,33.714ZM21.829,27.393,32,31.63l10.171-4.237L32,24.07Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M32,49.982a1,1,0,0,1-1-1V32.732a1,1,0,0,1,2,0V47.364l11-5.5V27.315a1,1,0,1,1,2,0V42.482a1,1,0,0,1-.553.894l-13,6.5A.992.992,0,0,1,32,49.982Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M32,49.982a.991.991,0,0,1-.446-.106l-13-6.5A1,1,0,0,1,18,42.482V27.315a1,1,0,1,1,2,0V41.864l12.447,6.223A1,1,0,0,1,32,49.982Z' fill='%23098aab' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.my-services .services-section .single-service .service-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 14px;
}
.my-services .services-section .single-service .service-description {
  line-height: 35px;
  margin-top: 35px;
}

/*# sourceMappingURL=index.css.map */
